body {
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1482177988528-7f1d8d6e775c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    margin-top: 10vh;
}

h1 {
    font-family: 'Rye', cursive;
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 3px 3px 0 red;
}

#result {
    color: white;
    font-size: 40px;
    text-shadow: 3px 3px 0 black;
    font-family: 'Rye', cursive;
}

#spinner {
    border: 2px solid white;
    background-color: rgba(255, 0, 0, 0.767);
    color: whitesmoke;
    font-size: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    min-height: fit-content;
    margin: 50px 0 20px 0;
    text-transform: uppercase;

}

#slt1 {
    width: 175px;
    height: 175px;
    animation-name: ring1;
    animation-duration: 2.5s;
    transform: rotateX(3600deg);
    overflow: hidden;
}

#slt2 {
    width: 175px;
    height: 175px;
    animation-name: ring1;
    animation-duration: 3.2s;
    transform: rotateX(3600deg);
    overflow: hidden;

}

#slt3 {
    width: 175px;
    height: 175px;
    animation-name: ring1;
    animation-duration: 3.9s;
    transform: rotateX(3600deg);
    overflow: hidden;
}

.fullGame {
    border: 2px solid white;
    border-radius: 7px;
    background-color: #000000ad;
    width: 50%;
    margin: 0 auto;
    padding: 20px;

}

.circle {
    display: inline-block;
}

#balance {
    float: left;
    margin-top: 0%;
    padding-top: 0%;
    font-family: 'Press Start 2P', cursive;
    color: #6ef732;
    font-size: 15px;
    text-shadow: 3px 3px 0 blue;
}

#instructions {
    float: right;
    margin-top: 0%;
    padding-top: 0%;
    font-family: 'Press Start 2P', cursive;
    color: whitesmoke;
    font-size: 15px;
    text-shadow: 3px 3px 0 blue;
}

.hide {
    border: 1px solid #ccc;
    display: none;
    font-size: 10px;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-align: left;
}

.info:hover .hide {
    display: block;
}


@keyframes ring1 {
    from {
        transform: rotateX(0);
    }

    to {
        transform: rotateX(720);
    }
}