body {
    background: black;
}

.fullGame {
    text-align: center;
    border: 4px solid white;
    color: white;
    /* margin: auto 400px; */
}

button {
    display: flex;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    display: block;
    margin: auto;
    font-size: 18px;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;

}

.circle {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: transparent;
    border: 2px solid white;
    display: inline-block;
}